In [1]:
import pandas as pd

In [10]:
data = pd.read_csv(r'C:\Users\SNEHA LATHA\Downloads\unclean_data.csv', encoding='ISO-8859-1')

In [11]:
type(data)

pandas.core.frame.DataFrame

In [12]:
data.info #concise summary

<bound method DataFrame.info of                                      movie_title  num_critic_for_reviews  \
0                                       Avatar?ÿ                     723
1     Pirates of the Caribbean: At World's End?ÿ                     302
2                                      Spectre?ÿ                     602
3                        The Dark Knight Rises?ÿ                     813
4                                  John Carter?ÿ                     462
5                                 Spider-Man 3?ÿ                     392
6                                      Tangled?ÿ                     324
7                      Avengers: Age of Ultron?ÿ                     635
8                      Avengers: Age of Ultron?ÿ                     635
9       Harry Potter and the Half-Blood Prince?ÿ                     375
10          Batman v Superman: Dawn of Justice?ÿ                     673
11                            Superman Returns?ÿ                     434
12                           Quantum of Solace?ÿ                     403
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                     313

    duration DIRECTOR_facebook_likes  actor_3_facebook_likes  \
0      178.0                      10                     855
1        NaN                     563                    1000
2      148.0                      20                     161
3        NaN                   22000                   23000
4      132.0                   "475"                     530
5      156.0                      23                    4000
6        NaN                      15                     284
7      141.0                      10                   19000
8      141.0                      10                   19000
9      153.0                     282                   10000
10     183.0                     NaN                    2000
11     169.0                     NaN                     903
12     106.0                     395                     393
13     151.0                     563                    1000

    ACTOR_1_facebook_likes      gross  num_voted_users  \
0                     1000  760505847         886204.0
1                    40000  309404152         471220.0
2                    11000  200074175         275868.0
3                    27000  448130642        1144337.0
4                      640   73058679         212204.0
5                    24000  336530303         383056.0
6                      799  200807262         294810.0
7                    26000  458991599         462669.0
8                    26000  458991599         462669.0
9                    25000  301956980         321795.0
10                   15000  330249062              NaN
11                   18000  200069408         240396.0
12                     451  168368427         330784.0
13                   40000  423032628         522040.0

    Cast_Total_facebook_likes  facenumber_in_poster  num_user_for_reviews  \
0                      4834.0                   NaN                  3054
1                     48350.0                   NaN                  1238
2                     11700.0                   1.0                   994
3                    106759.0                   NaN                  2701
4                      1873.0                   1.0                   738
5                     46055.0                   NaN                  1902
6                         NaN                   1.0                   387
7                     92000.0                   4.0                  1117
8                     92000.0                   4.0                  1117
9                     58753.0                   3.0                   973
10                    24450.0                   NaN                  3018
11                        NaN                   2.0                  2367
12                     2023.0                   1.0                  1243
13                    48486.0                   2.0                  1832

       budget  title_year  ACTOR_2_facebook_likes  imdb_score  title_year.1
0   237000000        2009                   936.0         7.9        2009.0
1   300000000        2007                  5000.0         7.1           NaN
2   245000000        2015                   393.0         6.8        2015.0
3   250000000        2012                 23000.0         8.5           NaN
4   263700000        2012                   632.0         6.6           NaN
5   258000000        2007                 11000.0         6.2        2007.0
6   260000000        2010                   553.0         7.8           NaN
7   250000000        2015                 21000.0         7.5           NaN
8   250000000        2015                 21000.0         7.5        2015.0
9   250000000        2009                 11000.0         7.5           NaN
10  250000000        2016                     NaN         6.9        2016.0
11  209000000        2006                 10000.0         6.1           NaN
12  200000000        2008                   412.0         6.7        2008.0
13  225000000        2006                  5000.0         7.3        2008.0  >

In [13]:
data.describe() #descriptive statistics

,num_critic_for_reviews,duration,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,14.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

In [15]:
data = data.drop_duplicates()
data

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [16]:
data.isnull()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False
11,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
data.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      2
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

In [18]:
data.notnull()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
1,True,True,False,True,True,True,True,True,True,False,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,False,True,True,True,True,True,True,False,True,True,True,True,True,False
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
5,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
6,True,True,False,True,True,True,True,True,False,True,True,True,True,True,True,False
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
10,True,True,True,False,True,True,True,False,True,False,True,True,True,False,True,True
11,True,True,True,False,True,True,True,True,False,True,True,True,True,True,True,False
12,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [19]:
data.isnull().sum().sum()

21

In [20]:
data2 = data.fillna(value=0)
data2

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [21]:
data3 = data.fillna(method='pad')
data3

C:\Users\SNEHA LATHA\AppData\Local\Temp\ipykernel_8440\1183050913.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data3 = data.fillna(method='pad')

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,178.0,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,2009.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,148.0,22000,23000,27000,448130642,1144337.0,106759.0,1.0,2701,250000000,2012,23000.0,8.5,2015.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,2015.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,1.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,156.0,15,284,799,200807262,294810.0,46055.0,1.0,387,260000000,2010,553.0,7.8,2007.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2007.0
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,2015.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,282,2000,15000,330249062,321795.0,24450.0,3.0,3018,250000000,2016,11000.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,282,903,18000,200069408,240396.0,24450.0,2.0,2367,209000000,2006,10000.0,6.1,2016.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [22]:
#filling null values with the next value
data4 = data.fillna(method='bfill')
data4

C:\Users\SNEHA LATHA\AppData\Local\Temp\ipykernel_8440\486027130.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data4 = data.fillna(method='bfill')

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,1.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,148.0,563,1000,40000,309404152,471220.0,48350.0,1.0,1238,300000000,2007,5000.0,7.1,2015.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,132.0,22000,23000,27000,448130642,1144337.0,106759.0,1.0,2701,250000000,2012,23000.0,8.5,2007.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,2007.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,1.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,141.0,15,284,799,200807262,294810.0,92000.0,1.0,387,260000000,2010,553.0,7.8,2015.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,2016.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,395,2000,15000,330249062,240396.0,24450.0,2.0,3018,250000000,2016,10000.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,395,903,18000,200069408,240396.0,2023.0,2.0,2367,209000000,2006,10000.0,6.1,2008.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [24]:
import numpy as np
from scipy import stats

In [31]:
#detect the outliers using IQR
data2.columns

Index(['num_critic_for_reviews', 'duration', 'DIRECTOR_facebook_likes',
       'actor_3_facebook_likes', 'ACTOR_1_facebook_likes', 'gross',
       'num_voted_users', 'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [32]:
data2.drop(['num_critic_for_reviews'], axis=1, inplace=True)
data2.columns

Index(['duration', 'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [37]:
Q1 = data2.select_dtypes(include='number').quantile(0.25)
Q3 = data2.select_dtypes(include='number').quantile(0.75)
IQR = Q3 - Q1
print(IQR)

duration                     4.275000e+01
actor_3_facebook_likes       7.888750e+03
ACTOR_1_facebook_likes       2.250000e+04
gross                        2.415987e+08
num_voted_users              1.884788e+05
Cast_Total_facebook_likes    5.346050e+04
facenumber_in_poster         2.000000e+00
num_user_for_reviews         1.226000e+03
budget                       1.700000e+07
title_year                   7.000000e+00
ACTOR_2_facebook_likes       1.042725e+04
imdb_score                   7.750000e-01
title_year.1                 2.008750e+03
dtype: float64

In [40]:
numeric_cols = data2.select_dtypes(include='number').columns
Q1 = data2[numeric_cols].quantile(0.25)
Q3 = data2[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

data2 = data2[~((data2[numeric_cols] < (Q1 - 1.5 * IQR)) | (data2[numeric_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
data2

,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
2,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
7,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
8,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0

In [41]:
data2.describe()

,duration,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,4.00000,4.000000,4.000000,4.000000e+00,4.000000,4.000000,4.000000,4.000000,4.0,4.0,4.000000,4.000,4.000000
mean,145.75000,12040.250000,22000.000000,3.550036e+08,380750.250000,63613.250000,3.000000,1050.250000,248750000.0,2013.5,13348.250000,7.325,1007.500000
std,5.85235,8984.346401,7348.469228,1.270749e+08,96431.964048,37992.204054,1.414214,77.551596,2500000.0,3.0,9839.568702,0.350,1163.360792
min,141.00000,161.000000,11000.000000,2.000742e+08,275868.000000,11700.000000,1.000000,973.000000,245000000.0,2009.0,393.000000,6.800,0.000000
25%,141.00000,7540.250000,21500.000000,2.764863e+08,310313.250000,46989.750000,2.500000,988.750000,248750000.0,2013.5,8348.250000,7.325,0.000000
50%,144.50000,14500.000000,25500.000000,3.804743e+08,392232.000000,75376.500000,3.500000,1055.500000,250000000.0,2015.0,16000.000000,7.500,1007.500000
75%,149.25000,19000.000000,26000.000000,4.589916e+08,462669.000000,92000.000000,4.000000,1117.000000,250000000.0,2015.0,21000.000000,7.500,2015.000000
max,153.00000,19000.000000,26000.000000,4.589916e+08,462669.000000,92000.000000,4.000000,1117.000000,250000000.0,2015.0,21000.000000,7.500,2015.000000